
* {
  padding: 0;
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  overflow: hidden;
}

/**
최상단 메뉴 바 설정
*/

.menu-space {
  background: rgb(157, 253, 170);
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.current-user-name {
  margin-left: 20px;
}

.current-login {
  float:right;
  margin-right: 20px;
}

/**
중단 메인 채팅 부분
*/

.chatting-space {
  background: rgba(147, 245, 155, 0.507);
  flex:12;
  overflow-y:scroll;
  text-align: center;
}

.sending-space {
  flex:1;
  font-size: 12px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}


input[type=button]:hover {
  background: rgb(13, 223, 142);
  cursor: pointer;
}

.change-name-btn {
  background: rgb(10, 189, 135);
  border: none;
  border-radius: 3px;
}

.change-name-btn:hover {
  background: rgb(13, 223, 142);
  cursor: pointer;
}

.chatting-space li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile .user {
  margin-bottom: 0.3rem;
  font-size: 24px;
}
.profile .profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.msg {
  border-radius: 5px;
  padding: 0.5rem;
  margin-left:5px;
  margin-bottom: 0 5px;
  flex: 7;
  font-size: 24px;
  text-align: justify;
}

.time {
  font-size: 20px;
  margin: 0 5px;
}

.sent {
  flex-direction: row-reverse;
  float:right;
}

.sent .msg {
  background: rgb(209, 240, 232);
}

.received .msg {
  background: white;
}

.chatting-space .join-msg {
  display: inline-block;
  font-size: 20px;
}

.chatting-space .exit-msg {
  display: inline-block;
  font-size: 20px;
}


/**
하단 메시지 전송 부분
*/

.sending-space span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
}

.msg-input {
  font-size: 24px;
  height: 100%;
  border: none;
  flex:8;
  margin-right: 5px;
  background: rgb(209, 240, 232);
  padding-left: 10px;
  outline: none;
}

.send-btn {
  flex:1;
  background: rgb(10, 189, 135);
  border: none;
  height: 100%;
  border-radius: 3px;
}