
* {
  padding: 0;
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  overflow: hidden;
}

.chatting-space::-webkit-scrollbar {
  width: 8px; /*스크롤바의 너비*/
}

.chatting-space::-webkit-scrollbar-thumb {
  background-color: rgb(81, 45, 209); /*스크롤바의 색상*/
  border-radius: 25px;
}

.chatting-space::-webkit-scrollbar-track {
  background-color: rgb(147, 139, 214); /*스크롤바 트랙 색상*/
}

/**
최상단 메뉴 바 설정
*/

.menu-space {
  /* background: rgb(157, 253, 170); */
  background: rgb(43, 107, 226);
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.current-user-name {
  margin-left: 20px;
}

.current-login {
  float:right;
  margin-right: 20px;
}

.current-login .current-user-list {
  /* background: rgb(10, 189, 135); */
  background: rgb(85, 124, 197);
  border: none;
  border-radius: 3px;
}

.current-login .current-user-list:hover {
  /* background: rgb(13, 223, 142); */
  background: rgb(113, 158, 243);
  cursor: pointer;
}

.user-list {
  position: absolute;
  right: 1%;
  width: max-content;
  height: max-content;
  margin: 10px 20px 0 0;
}

.participants {
  width: 100%;
  height: 100%;
  border: solid rgba(81, 59, 204, 0.534);
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: rgba(203, 179, 238, 0.582);
}

/**
중단 메인 채팅 부분
*/

.chatting-space {
  /* background: rgba(147, 245, 155, 0.507); */
  background:rgb(161, 189, 243);
  flex:12;
  overflow-y:scroll;
  text-align: center;
}

.sending-space {
  flex:1;
  font-size: 12px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

input[type=button]:hover {
  /* background: rgb(13, 223, 142); */
  background: rgb(113, 158, 243);
  cursor: pointer;
}

.change-name-btn {
  /* background: rgb(10, 189, 135); */
  background: rgb(85, 124, 197);
  border: none;
  border-radius: 3px;
}

.change-name-btn:hover {
  /* background: rgb(13, 223, 142); */
  background: rgb(113, 158, 243);
  cursor: pointer;
}

.chatting-space li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.profile .profile-img {
  width: 45px; 
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}


.user {
  font-size: 20px;
}

.msg {
  border-radius: 20px;
  padding: 0.15rem 0.4rem 0.15rem 0.4rem;
  margin-left:5px;
  margin-bottom: 0 5px;
  font-size: 24px;
  text-align: justify;
}

.time {
  font-size: 20px;
  margin: 0 5px;
}

.sent {
  flex-direction: row-reverse;
  float: right;
}

.sent .msg {
  background: rgb(209, 240, 232);
}

.received .msg {
  background: white;
}

.chatting-space .entrance-msg {
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: rgba(138, 155, 228, 0.712);
  width: max-content;
  border-radius: 20px;
  line-height: 10px;
}


/**
하단 메시지 전송 부분
*/

.sending-space span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
}

.msg-input {
  font-size: 24px;
  height: 100%;
  border: none;
  flex:8;
  margin-right: 5px;
  /* background: rgb(209, 240, 232); */
  background: rgb(204, 214, 233);
  padding-left: 10px;
  outline: none;
}

.send-btn {
  flex:1;
  /* background: rgb(10, 189, 135); */
  background: rgb(85, 124, 197);
  border: none;
  height: 100%;
  border-radius: 3px;
}