* {
  font-family: 'Dongle', sans-serif;
  font-size: 35px;
  text-align: center;
}

body {
  padding: 100px;
  background-color: rgba(241, 230, 75, 0.555);
  font-family: 'Dongle', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 90px;
  color: rgb(226, 125, 43);
  text-shadow:3px 3px 3px #000
}

/* 
.filebox .hidden-photo {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0;
}

.filebox label {
  display: inline-block;
  width: 50px;
  color: rgb(77, 76, 76); 
  font-size: xx-large; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #f5b17ac4; 
  cursor: pointer; 
  border: 3px solid #f5986d;  
  border-radius: .25em;
}

.filebox .photo-input {
  display: inline-block; 
  font-size: xx-large; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fccaa1c4; 
  border: 3px solid #f5986d; 
  border-radius: .25em; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  color: gray;
} 

.info {
  width: auto;
  background-color: rgba(255, 208, 0, 0.404);
  border: 5px dashed rgba(245, 102, 46, 0.658);
  border-radius: 30px;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


*/

.name-input {
  width: 250px;
  height: 50px;
  padding: 0 10px;
  font-size: xx-large;
  border: 2px solid rgb(223, 138, 81);
  border-radius: 15px;
  background-color: rgba(240, 171, 186, 0.466);
  text-align: center;
}

.name-input:focus {
  outline:none;
}

.enter-btn, .overlap-check-btn {
  width: 200px;
  height: 70px;
  border-radius: 40px;
  border: 3px solid rgb(206, 102, 90);
  background-color: rgba(250, 128, 114, 0.623);
  cursor: pointer;
}

.enter-btn:hover, .overlap-check-btn:hover {
  background-color: salmon;
  border: 5px solid rgb(255, 255, 255);
  color: white;
  font-size: larger;
}
